{% extends '3base44.html' %}
{%load static%}
{% block a1 %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary text-left">
      <div class="panel-success" >
          <h3 style="text-align: center" >Welcome {{user}}</h3>  
      </div>
    </div>
  </div>
<div class="col-lg-3">
<div class="panel panel-info text-center">
<div class="panel-heading">
  <h1>{{total_clients}}</h1>
 <p>Client Count </p>
</div>
</div>
</div>
<div class="col-lg-3">
  <div class="panel panel-warning  text-center ">
  <div class="panel-heading">
    <h1>{{total_products}}</h1>
   <p>Product Count </p>
  </div>
  </div>
  </div>
  
<div class="col-lg-3">
<div class="panel panel-danger text-center">
  <div class="panel-heading">
    {% for i in no_of_pdfs %}
      <h1>{{i}}</h1>
      {%endfor%}

      <p>Total Number of Pdf Generated </p>
  </div>
</div>

</div>

<div class="col-lg-3">
<div class="panel panel-success text-center">
<div class="panel-heading">
{% if flag == False %}
  <h1>Close </h1>
  <p>Status</p>
{% else %}
  <h1>Running</h1>
  <p>Status</p>
{% endif %}
</div>
</div>
</div>


<div class="row">

<div class="col-lg-3">
<div class="panel panel-success text-center">
<div class="panel-heading">

  <h1>{{total_daily_count}}</h1>
  <p>Daily Count</p>
  
</div>
</div>

</div>
<div class="col-lg-3">
<div class="panel panel-info text-center">
<div class="panel-heading">
<h1>{{total_monthly_count}}</h1>

  <p>Monthly Count </p>
</div>
</div>

</div>
<div class="col-lg-3">
<div class="panel panel-warning text-center">
<div class="panel-heading">
<h1>{{total_yearly_count}}</h1>
<p>Yearly Count </p>
</div>
</div>
</div>
<div class="col-lg-3">
<div class="panel panel-success text-center">
<div class="panel-heading">
<h1>{{total_cycle_count}}</h1>
<p>Cycle Count</p>
</div>
</div>
</div>

<div class="col-lg-3">
<div class="panel panel-info text-center">
<div class="panel-heading">

  <h1>{{all_count}}</h1>
  <p>All Count</p>
</div>
</div>
</div>

<div class="col-lg-3">
<div class="panel panel-warning text-center">
<div class="panel-heading">
  <h1>{{quarterly}}</h1>

    <p>Quarterly Count </p>
</div>
</div>
</div>


<div class="col-lg-3">
<div class="panel panel-success text-center">
<div class="panel-heading">
  <h1>{{total_exe_files}}</h1>

    <p>EXE File Count </p>
</div>
</div>
</div>

<div class="col-lg-3">
<div class="panel panel-danger text-center">
<div class="panel-heading">
  <h1>{{quarterly}}</h1>

    <p>TEMP1 Count </p>
</div>
</div>
</div>
</div>


{%endblock%}

{% block f1 %}
{% for i in data %}

<table class="table table-bordered">
<td class="w-3">{{i.ID}}</td>
<td class="w-3">{{i.Filename}}</td>
<td class="w-3">{{i.UniqueTime}}</td>
<td class="w-3">{{i.Programname}}</td>
<td class="w-3">{{i.JobTitle}}</td>
<td class="w-3">{{i.Frequency}}</td>
<td class="w-3">{{i.Status}}</td>
<td class="w-3">{{i.File}}</td>
</table>
{%endfor%}
{%endblock%}
