<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    header {
    height:180vh;
    min-height:400px;
    background-size:cover;
    background-image: "/static/images/Homepage2.png"

.hidden-spacer {
    height: 56px
}
</style>
<body>
    <header>
    </header>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="sticky-top bg-white hidden-spacer"> </div>
</body>
</html>